* {
    box-sizing: border-box;
}



html{
    background-color: rosybrown;
}

.lightgray{
    background-color: lavender;
    text-align: center;
    margin-top: -40px;
    margin-left: 50px;
    margin-right: 50px;
    position: absolute;
    right: 50px;
    left: 50px;
}

.h1 {
    font-size: 60px;
    padding-top: 40px;
}

.date {
    font-size: 30px;
    padding-bottom: 60px;
}

.bluebox {
    display: inline-block;
    background-color: cadetblue;
    position: absolute;
    top: 276px;
    left: 100px;
    height: 500px;
    
    
}
.bold{
    font-weight: bold;

}
.header2{
    padding-left: 10px;
}

.whitebox {
    display: inline-block;
    background-color: white;
    width: 500px;
    height: 500px;
    padding: 15px 30px 50px 50px;
    position: absolute;
    top: 276px;
    left: 280px;
    
}
