* {
    box-sizing: border-box;
}



html{
    background-color: rosybrown;
}

.lightgray{
    background-color: lavender;
    text-align: center;
    margin-top: -40px;
    margin-left: 300px;
    margin-right: 300px;
    position: absolute;
    right: 50px;
    left: 50px;
}

.h1 {
    font-size: 60px;
    padding-top: 40px;
}

.date {
    font-size: 30px;
    padding-bottom: 60px;
}

.bluebox {
    display: inline-block;
    background-color: cadetblue;
    position: absolute;
    top: 276px;
    left: 350px;
    right: 250px;
    height: 700px;
    width: 400px;
    
    
}
.bold{
    font-weight: bold;
    font-size: larger;

}
.header2{
    padding-left: 10px;
}

.whitebox {
    display: inline-block;
    background-color: white;
    width: 803px;
    height: 700px;
    padding: 15px 30px 50px 50px;
    position: absolute;
    top: 276px;
    left: 750px;
    margin-right: 50px;
}

p {
    font-size: larger;
}

.photo {
    position: absolute;
    bottom: 50px;
    width: 400px;
    height: 300px;
}
